* {
    padding:0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div.container {
  height: 100%;
}

div.main {
  height: 100%;
}

header {
  min-height: 3.5em;
  height: 12vh;
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 0.2em 1em;
}

.header-title {
  color: #fff;
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  min-height: 1.2em;
  height: 5vh;
  width: 100%;
  text-align: center;
  background-color: #000;
  color: #fff;
}

div.content {
  height: 82vh;
  padding: 0.5em;
  overflow: auto;
}

div.flex-box {
  display: flex;
	flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 1em;
}

div.flex-item {
  width: 350px;
  height: 180px;
  margin: 0.5em auto;
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #000;
  border-radius: 10px;
  text-align: center;
}

.item-title {
  font-size: 20px;
  display: block;
  text-decoration: none;
  color: #0833ff;
  font-weight: bold;
}

.strike-price, .discount, .offer-price {
  font-style: italic;
  font-weight: bold; 
}

.text-center {
  text-align: center;
}